.container{
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 200px;
  border-radius: 20px;
  background-color: black;

  padding-bottom:20px;
  margin-top: 40px;
  padding-top: 10px;

  
}
body{
 background-color: burlywood;

}
#button{
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    width: 60px;
    height: 50px;
    font-size: x-large;
    font-weight: bolder;

    
}
#text{
    height: 60px;
    width: 300px;
    border-radius: 40px;
    backdrop-filter: 70px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: x-large;
    
}